[submodule "NLP-Twitter-Trending-Hastag-BoycottQatarAirways"]
	path = NLP-Twitter-Trending-Hastag-BoycottQatarAirways
	url = https://github.com/slyofzero/NLP-Twitter-Trending-Hastag-BoycottQatarAirways.git
[submodule "RegEx"]
	path = RegEx
	url = https://github.com/slyofzero/RegEx.git
